* {
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
    margin:0px;
}
:root{
    --lichtblauw:#72AFA6;
    --donkerblauw:#152a42;
    --geel:#F4EB34;
}

/* header */
nav {
    position:fixed;
    width:100%;
    height:7.5rem;
    background: rgba(255, 255, 255, 0.97);
    top:0px;
    left:0px; 
    z-index:1;
}
nav a{
    text-decoration: none;
}
.Logo-ViniMini {
    width:8.875rem;
    height:6.25rem;
    margin-top:0.625rem;
}
.menu-explained{
    display: flex;
    flex-direction: column;
    width:2.8125rem;
    color: var(--donkerblauw);
    margin-top: 7px;
}

/* Navigatie */
nav ul li:nth-child(4){
    display:none;
}
nav ul li:nth-child(5){
    display:none;
}
nav ul li:nth-child(6){
    display:none;
}
nav ul li:nth-child(7){
    display:none;
}
nav ul li:nth-child(8){
    display:none;
}
nav ul li:nth-child(9){
    display:none;
}
nav ul li:nth-child(10){
    display:none;
}
nav ul li:nth-child(11){
    display:none;
}
nav > ul {
    list-style: none;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left:-2.5rem;  
}

/* welkomstbericht index*/
h1 {
    font-family: Montserrat;
    font-size: 2.3em;
    font-weight: 700;
    color: var(--lichtblauw);
}
.welcome-message{
    position:relative;
    margin-top: 9.375rem;
}

/* welkomstbericht agenda*/

.welcome-message-agenda{
    position:relative;
    margin-top: 9.375rem;
    font-size: 1.7rem;
}

/* notificatieblok */
h2{
    font-family: Montserrat;
    font-size: 1.4em;
    font-weight: 600;
    color: var(--donkerblauw);
}
li{
    font-family: Montserrat;
    font-size: 1em;
    font-weight: 400;
    color: var(--donkerblauw);
    line-height: 1.4em;
}
main{
    margin: 1.25rem;
}
.notification{
    width: 100%;
    height: 12.5rem;
    border-radius:1.71875rem;
    margin-top: 1.25rem;
    margin-bottom:3.75rem;
    background-color: var(--geel);
    display:flex;
    flex-direction:column;
    row-gap: 2.1875rem;
}

.notification > h2{
    margin-top:1.875rem;
    margin-left: 1rem;
}

/* logboek, vanaf hier nog even waarden omzetten naar rem enzo */

.logbook{
    border: 2px solid var(--donkerblauw);
    color: var(--donkerblauw);
    margin-top:2.5rem;
    background-color:var(--geel);
    overflow: hidden;
    height: fit-content;
}
.logbook > article > button{
    border-top: 2px solid #72afa6;
    border-left:none;
    border-right:none;
    border-bottom:2px solid #72afa6;;
    background-color: white;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-weight: 700;
    border-radius: 0px;
    color:var(--lichtblauw);
    letter-spacing: 2px;
    font-size: 1.5rem;
    line-height: 1.375rem;
    width:100%;
    text-align:left;
    padding: 40px 10px;
    transition-duration: 300ms;
    height:9.375rem;
}
.logbook > article > button:hover{
    background-color:var(--lichtblauw);
    color:white;
}
.logbook > header > h2 {
    font-size:2.125rem;
    margin-top:0.625rem;
    margin-bottom:0.625rem;
    text-align:center;
}
.logbook div{
    max-height:0px;
    background-color: var(--geel);
    display:flex;
    transition: opacity 0.5s linear 0.3s, max-height 0.9s;
    overflow:hidden;
    opacity:0;
}
.logbook div > ol > li{
    list-style-type: none;
    margin-left:-40px;
}
.logbook div > ol > li > button{
    border-right:2px solid var(--lichtblauw);
    font-weight: 700;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    line-height: 1.375rem;
    width:15vw;
    padding: 40px 10px;
    transition-duration: 300ms;
    height:6.25rem;
}
.logbook div ol > li > button:hover{
    background-color:var(--lichtblauw);
    color:white;
}
button.button-accordion:focus{
    background-color:var(--lichtblauw);
    color:white;
    outline: 5px solid black;
}
button.button-accordion:focus{
    background-color:var(--lichtblauw);
    color:white;
    outline: 5px solid black;
}
button.button-day:focus{
    background-color:var(--lichtblauw);
    color:white;
    outline: 5px solid black;
}
.arrow-down{
  /* position:absolute;
  right:20px; */
  pointer-events: none;
  transition-duration: 1s;
  margin-left:auto;
}

.arrow-transform{
    transform:rotate(180deg);
    transition-duration: 1s;
}

.logbook div.active{
    max-height:125rem;
    opacity:1;
    
}

/* styling inhoud */
.flex-logbook{
    margin-left:1.25rem;
    margin-top:1.25rem;
}
.logbook h3{
    font-size:1.875rem;
}
#cashew-img{
    width:9.375rem;
    height:9.375rem;
}
form{
    margin-top:1.25rem;
    /* display:flex;
    flex-direction: column; */
}
fieldset{
    width:60vw;
}
input[type='checkbox'] {
    width:1.875rem;
    height:1.875rem;
}
form  label{
    font-size:1.5rem;
}

#button3{
    display:flex;
    flex-direction: column;
}
#info-logbook-3rd-button{
    font-size: 1.5rem;
}

/* inhoud 2e knop */


#button2{
    display:flex;
    flex-direction: column; 
}

#button2 > ol{
    display: flex;
}
#button2 button{
    justify-content: flex-start;
}
.week-overview{
    width: 50vw !important;
}

/* inhoud 3e knop */
#button3 button{
    width:100vw;
    justify-content: flex-start;
}

.yellow-mark-calender{
    background-color: var(--geel);
}

/* kalender */

.calender{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:3.125rem;
}
.month{
    color:var(--donkerblauw);
    font-size:2.375rem;
    margin:0px;
}
th{
    font-size: 1rem;
    color:var(--donkerblauw);
    min-width: 2.5rem;  
}
td{
    color:var(--donkerblauw);
    width:3.125rem;
    height:3.125rem;
    text-align:center;
}
tr > td {
    border:1px solid var(--donkerblauw);;
} 
td > p{
    display:none;
}

/* buttons/links */

h3{
   color: var(--lichtblauw);
}
.flex-lists{
    text-align:center;
}
.description{
    max-width: 14.875rem;
    margin:auto;
}
.buttons{
    margin-top:6.25rem;
    margin-bottom: 8.125rem;
}
.buttons > ul{
    list-style: none;
    margin-left:-40px;
    margin-top:10px;
}
.img-info{
    /* width:42px; */
    height:42px;
}
.buttons > ul > li{
    margin-top:15px;
    margin-bottom:15px;
}
.info-buttons:focus{
    background-color:var(--lichtblauw);
    color:white;
    outline: 5px solid black;
}

/* de woorden in strong moeten linkjes worden */
strong{
    color: var(--lichtblauw);
}
button{
    border: 1px solid #72afa6;
    background-color: white;
    display:flex;
    justify-content:center;
    font-weight: 700;
    border-radius: 27.5px;
    color:var(--lichtblauw);
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 22px;
    padding: 15px 30px;
    margin:auto;
    transition-duration: 300ms;
}
button:hover{
    background-color:var(--lichtblauw);
    color:white;
}
/* button kleur is niet accessible */

/* footer */

h4{
    color: var(--lichtblauw);
}
#certified-B{
    padding:0px 30px;
    margin-right: 80px;
    margin-bottom: 25px;
}
.footer-ul{
    list-style: none;
    min-width: 195px;
    margin-bottom: 25px;
}
footer > p{
    padding: 30px;
}
footer a{
    text-decoration: none;
    color: var(--donkerblauw);
}

@media screen and (min-width: 750px){


    /* buttons */
.buttons{
    margin-top:0px;
}

    /* kalender */

    .calender{
        background-color: white;
        border-radius:27.5px;
        margin-top:20px;
        margin-bottom:20px;
        padding: 10px;
        display:flex;
        flex-direction:column;
        align-items:center; 
    }
    .month{
        color:var(--donkerblauw);
        font-size:45px;
        margin:0px;
    }
    th{
        font-size: 36px;
        color:var(--donkerblauw);
        min-width: 12vw;  
    }
    td{
        vertical-align: text-top;
        text-align:left;
        color:var(--donkerblauw);
        height:200px;
    }
    
    tr > td {
        border:1px solid var(--donkerblauw);
    }
    td > p{
        display:block;
        background-color: var(--geel);
    }

    /* footer */
    footer a{
        text-decoration: none;
        color: var(--donkerblauw);
    }
}

@media screen and (min-width: 845px){

   /* Infobuttons */
    .buttons{
        display:flex;
        justify-content: space-evenly;
        margin-top:0px;
     }

    /* footer */
     #footer-flexbox{
        display: flex;
        justify-content: space-evenly;
    } 
    footer a{
        text-decoration: none;
        color: var(--donkerblauw);
    }
}  

@media screen and (min-width: 975px){
    
    /* header */
nav > ul > li > a{
    color:var(--donkerblauw);
}

/* Navigatie */
.nav-arrow{
    width:25px;
    height:19.2px;
    margin-bottom:-4px;
}
nav ul li:nth-child(2){
    display:none;
}
nav ul li:nth-child(3){
    display:none;
}
nav ul li:nth-child(4){
    display:none;
}
nav ul li:nth-child(5){
    display:block;
}
nav ul li:nth-child(6){
    display:block;
}
nav ul li:nth-child(7){
    display:block;
}
nav ul li:nth-child(8){
    display:block;
}
nav ul li:nth-child(9){
    display:block;
}
nav ul li:nth-child(10){
    display:block;
}
nav ul li:nth-child(11){
    display:block;
}
nav ul li:nth-child(12){
    display:block;
}

/* welkomstbericht index*/
#desktop-welcome{
    display:flex;
    margin-top: 180px;
}
.welcome-message{
    position:relative;
    margin-top: 0px;
    margin-left: 30px;
    width:50%;
}

/* logboek */

.flexbox-desktop{
    display:flex;
    justify-content: center;
    margin-top:-40px;
}

.logbook{
    border: 2px solid var(--donkerblauw);
    color: var(--donkerblauw);
    margin-top:8.3rem;
    background-color:var(--geel);
    overflow: hidden;
    max-width:28rem;
    min-width:28rem;
}
.logbook > header > h2 {
    font-size:2.125rem;
    margin-top:0.625rem;
    margin-bottom:0.625rem;
    text-align:center;
}
.logbook div{
    /* max-height:0px; */
    background-color: var(--geel);
    display:flex;
    transition: opacity 0.5s linear 0.3s, max-height 0.9s;
    overflow:hidden;
    opacity:0;
    /* height:0px; */
}
.logbook div > ol > li{
    list-style-type: none;
    margin-left:-40px;
}
.button-day{
    border-right:2px solid var(--lichtblauw);
    font-weight: 700;
    border-radius: 0px;
    letter-spacing: 2px;
    font-size: 1.5rem;
    line-height: 1.375rem;
    /* width:15vw; */
    width:6vw;
    max-width: 3.5em;
    padding: 40px 10px;
    transition-duration: 300ms;
    height:6.25rem;
}
.logbook div ol > li > button:hover{
    background-color:var(--lichtblauw);
    color:white;
}
button.button-accordion:focus{
    background-color:var(--lichtblauw);
    color:white;
    outline: 5px solid black;
}
button.button-accordion:focus{
    background-color:var(--lichtblauw);
    color:white;
    outline: 5px solid black;
}
button.button-day:focus{
    background-color:var(--lichtblauw);
    color:white;
    outline: 5px solid black;
}
.arrow-down{
  /* position:absolute;
  right:20px; */
  pointer-events: none;
  transition-duration: 1s;
  margin-left:auto;
}

.arrow-transform{
    transform:rotate(180deg);
    transition-duration: 1s;
}

.logbook div.active{
    max-height:125rem;
    opacity:1;
    
}

/* styling inhoud */
.flex-logbook{
    margin-left:0.5rem;
    margin-top:1.25rem;
}
.logbook h3{
    font-size:1.875rem;
}
#cashew-img{
    width:9.375rem;
    height:9.375rem;
}
form{
    margin-top:1.25rem;
    /* display:flex;
    flex-direction: column; */
}
fieldset{
    /* width:18vw; */
    width:21em;
}
input[type='checkbox'] {
    width:1.875rem;
    height:1.875rem;
}
form  label{
    font-size:1.5rem;
}

#button3{
    display:flex;
    flex-direction: column;
}
#info-logbook-3rd-button{
    font-size: 1.5rem;
}

/* inhoud 2e knop */


#button2{
    display:flex;
    flex-direction: column; 
}

#button2 > ol{
    display: flex;
}
#button2 button{
    justify-content: flex-start;
}
.week-overview{
    /* width: 50vw !important; */
    max-width: 11em;
}

/* inhoud 3e knop */
#button3 button{
    width:100vw;
    justify-content: flex-start;
}



/* kalendeeeeer mobileeee*/

.calender{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:3.125rem;
}
.month{
    color:var(--donkerblauw);
    font-size:2.375rem;
    margin:0px;
}
th{
    font-size: 1rem;
    color:var(--donkerblauw);
    min-width: 6vw;  
}
td{
    color:var(--donkerblauw);
    height:6.4rem;
    text-align:center;
}
tr > td {
    border:1px solid var(--donkerblauw);;
} 
td > p{
    /* display:none; */
    font-size: 0.7rem;
}

/* welkomstbericht agenda*/

#desktop-welcome-agenda{
    margin-top: 180px;
}
.welcome-message-agenda{
    position:relative;
    margin-top: 0px;
    width:100%;
    font-size: 2.3rem;
}

/* notificatieblok */

.notification{
    width: 50%;
    height: 200px;
    border-radius:27.5px;
    margin-top: 0px;
    margin-bottom:60px;
    background-color: var(--geel);
    display:flex;
    flex-direction:column;
    row-gap: 35px
}

/* knoppen */
.buttons{
    margin-top:0px;
}

/* footer */
footer a{
    text-decoration: none;
    color: var(--donkerblauw);
}
}

